@model WF002.Entities.PAGINAT

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PAGINAT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TXT50)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TXT50)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PAGINA.URL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PAGINA.URL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SPRA.DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SPRA.DESCRIPCION)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
